body,
html {
   width: 100%;
   height: 100%;
   font-family: sans-serif;
}

body {
   background-color: #ecedf0;
   overflow: hidden;
}

.hide {
   display: none !important;
}

select.d-inline {
   display: inline !important;
   width: auto;
}

.alert {
   position: fixed;
   bottom: 10px;
   left: 0;
   right: 0;
   margin: 0 auto;
   max-width: 500px;
   z-index: 99999;
}

.container-fluid {
   height: 100%;
   width: 100%;
   padding-right: 0px;
   /* padding-left: 15px; */
}

.row .side-nav-user {
   padding-right: 5px;
   padding-left: 5px;
   padding-top: 15px;
   padding-bottom: 15px;
}

.content {
   overflow-y: auto;
   height: calc(100% - 120px);
   padding-right: 1em;
   border-top: 15px solid #8c1519 !important;
}

* {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -o-box-sizing: border-box;
   -ms-box-sizing: border-box;
}

.header {
   background-color: #fff;
}

.table thead {
   background-color: #8c1519;
   color: white;
}

.logo img {
   margin-top: 10px;
   width: 96px;
}

img {
   vertical-align: middle;
}

img {
   border: 0;
}

.row {
   margin-right: 0px;
}

.logo-img {
   margin: 0 auto 10px;
   display: block;
}

.signin-h3{
   font-size: 2.75rem;
    font-family: inherit;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.login-form {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50%;
   transform: translateY(50%);
}

.floatRight {
   float: right;
}

h2,
h3 {
   margin-top: 0;
}

h4 {
   border-bottom: 2px dashed #8c1519;
}

.row {
   padding-top: 5px;
   padding-bottom: 5px;
}

/*HP*/

.user-details {
   text-align: right;
   /*padding-top: 40px;*/
}

.welcome {
   padding-top: .5rem !important;
}

.user-circle {
   width: 24px;
   height: 24px;
   border-radius: 30px;
   background-color: #8c1519;
   display: inline-block;
   color: #fff;
   text-align: center;
   padding: 2px;
   margin: 0 10px;
}

.navbar {
   padding: 5px;
   height: 100%;
   border: none;
   border-top: 15px solid;
   border-color: #8c1519;
   border-radius: 0;
}

.navbar ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

.navbar ul li {
   background-color: #9ca3a9;
   border-bottom: 2px solid white;
}

.navbar ul li:hover {
   background-color: #8c1519;
   border-bottom: 2px solid white;
}

.btn:hover {
   background-color: #8c1519 !important;
   color: white;
}

a,
a:visited,
a:hover {
   color: #8c1519;
}

h5 {
   margin-left: 20px;
}

.pagination>li>a,
.pagination>li>span {
   color: #8c1519;
}

.pagination>li>a.disabled {
   cursor: not-allowed;
}

.navbar a {
   display: block;
   padding: 5px;
   padding-left: 10px;
   font-size: 1.1em;
   /*color: #8c1519;*/
   color: #d2d2d2;
   /*border-bottom: 1px solid transparent;*/
}

.navbar li ul {
   display: none;
}

.navbar li.active ul {
   display: block;
   /*background-color: #fff;*/
   /*border-bottom: 2px solid #8c1519;
	position: relative;*/
}

.navbar ul>li.active>a {
   background-color: #8c1519;
   color: #fff;
}

.navbar ul ul a {
   color: #d2d2d2;
}

.navbar li.active li a:hover {
   color: #fff;
}

.navbar li.active>a {
   color: #fff;
}

/* .navbar a i.menu-icon {
    margin-left: -40px;
    margin-right: 10px;
} */

.navbar a:hover {
   text-decoration: none;
   color: #fff;
   /*border-bottom-color: #8c1519;*/
}

.navbar ul ul a {
   padding-left: 60px;
}

.navbar.sm-navbar {
   position: absolute;
   z-index: 99999;
   list-style: none;
   left: 0px;
   width: 100%;
   min-width: 150px;
   height: auto;
   background: white;
   cursor: pointer;
   border: none;
   padding: 0;
   height: 100%;
}

.sm-navbar li {
   background-color: #9ca3a9;
   margin-top: 3px;
}

.sm-navbar li.active {
   background-color: #8c1519;
}

.sm-navbar-container {
   top: 0;
   position: absolute;
   right: 5px
}

/*HP*/

.navbar+div {
   padding-left: 1em;
   padding-top: 1em;
   padding-right: 1em;
}

.dropdown {
   float: right;
   width: 200px;
}

.dropdown .dropdown-menu {
   right: 0;
}

.user-image {
   width: 40px;
}

.user-status-nav {
   padding-right: 0;
   min-width: 100px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   padding-left: 0;
}

/*customized Scroll bar*/

/* ::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #8c1519;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
}

 ::-webkit-scrollbar-thumb:window-inactive {
    background: #8c1519
} */

/*footer*/

.site-footer,
.page-wrap:after {
   height: 50px;
}

.site-footer {
   border-top: solid 8px rgba(49, 49, 49, 0);
   background: rgb(0, 0, 0);
   z-index: 999999;
   position: absolute;
   width: 100%;
   box-shadow: 0px 0px 10px #000000;
   color: #a5a5a5;
}

.site-footer .content {
   text-align: center;
   margin-top: 5px;
}

.site-footer .copyright {
   font-size: 22px;
   vertical-align: middle;
}

.site-footer span {
   font-size: 12px;
   vertical-align: middle;
}

/*incident page*/

.stylish-input-group .input-group-addon {
   background: white !important;
   border-radius: 0 20px 20px 0 !important;
}

.stylish-input-group .form-control {
   border-right: 0;
   box-shadow: 0 0 0;
   border-color: #ccc;
   border-radius: 20px 0 0 20px;
}

.stylish-input-group button {
   border: 0;
   background: transparent;
}

.stylish-input-group>* {
   height: 36px !important;
}

.searchbox {
   vertical-align: middle;
   padding-bottom: 10px;
   float: right;
   width: 150px;
}

.searchbox input {
   height: 30px !important;
   padding: 5px;
}

.searchbox .input-group-addon {
   height: 30px !important;
}

.small-control {
   width: 60px;
   display: inline-block;
}

.advanced-search {
   padding: 0 10px;
   margin-left: 10px;
   font-size: 22px;
   cursor: pointer;
}

.advanced-search-panel {
   background: #fff;
   padding: 15px;
   border-radius: 4px;
}

.advanced-search-panel .row {
   margin: 10px -15px;
}

/* .table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #8c1519;
} */

.table-bordered {
   /* border: 1px solid #8c1519; */
   font-size: 14px;
}

table th {
   font-weight: bold;
}

nav select.form-control {
   width: 80px;
   display: inline-block;
   float: left;
   background: #fff url('images/caret.png') no-repeat center right 10px;
   margin-right: 10px;
}

nav select.form-control:focus {
   outline: none;
   border-color: transparent;
   box-shadow: none;
}

nav .pagination {
   margin: 0;
}

nav span {
   display: inline-block;
   vertical-align: 11px;
   margin-left: 10px;
}

/*icon inside button*/

a i {
   top: 2px;
   right: 7px;
}

#myModal .row {
   margin-bottom: 0.2em;
}

@media only screen and (min-width: 410px) and (max-width:767px) {
   .incidentLabel {
      display: none
   }
   .nav {
      height: auto;
   }
   .modal-content {
      width: 100% !important
   }
   .floatRight {
      float: left;
   }
}

@media only screen and (min-width: 410px) and (max-width:767px) {
   /* hide the menu item*/
   .incidentLabel {
      display: none;
   }
   .floatRight {
      float: left;
   }
}

@media only screen and (min-width: 768px) and (max-width:1200px) {
   .inline-label {
      margin-top: 0.5em;
   }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
   .modal-content {
      width: 100% !important
   }
}

.show:hover {
   cursor: pointer;
}

.nav-tabs {
   border-bottom: 1px solid #555;
}

.nav-tabs>li>button {
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
}

.nav-tabs>li.active>button,
.nav-tabs>li.active>button:focus,
.nav-tabs>li>button:hover {
   background-color: #8c1519;
   color: white;
   /*background-color: #efd1d4;
    color: #555;*/
   border: 1px solid #555;
   ;
   border-bottom-color: transparent;
}

.nav-tabs>li>button {
   border: 1px solid #555;
}

.nav-tabs li button {
   background-color: white;
}

.form-content {
   padding-bottom: 50px;
}

.modal-open .modal {
   overflow: hidden
}

.modal-body {
   overflow: auto;
   max-height: 500px;
}

.bodyPartDiv{
   width:9px;
   height:9px;
   position: absolute;
   display: inline-block;
}
.bodyPartSpan{
   width: 9px;
   height: 9px;
   background-color: red !important;
   color: red;
   border-radius: 9px;
   display: inline-block;
}
.accident .modal-body {
   max-height: 700px !important;
}

.uib-datepicker-popup {
   height: auto !important;
}

#man {
   height: 511px;
   width: 500px;
   background-image: url('../assets/images/man.png');
   margin-left: -57%;
}

#back {
   height: 511px;
   width: 500px;
   background-image: url('../assets/images/back.png');
   margin-left: -32%;
}

.Face {
   left: 122px;
   top: 22px;
}

.Head {
   left: 121px;
   top: 5px;
}

.Right.Ear {
   left: 94px;
   top: 35px;
}

.Left.Ear {
   left: 148px;
   top: 35px;
}

.Left.Eye {
   left: 132px;
   top: 25px;
}

.Right.Eye {
   left: 112px;
   top: 25px;
}

.Nose {
   left: 122px;
   top: 40px;
}

.Mouth {
   left: 122px;
   top: 45px;
}

.Neck {
   left: 122px;
   top: 68px;
}

.Chin {
   left: 122px;
   top: 60px;
}

.Back.Neck {
   width: 9px;
   height: 9px;
   left: 468px;
   top: 354px;
   position: fixed;
}

.Left.Arm {
   left: 180px;
   top: 160px;
}

.Right.Arm {
   left: 64px;
   top: 160px;
}

.Left.Hand {
   left: 199px;
   top: 233px;
}

.Right.Hand {
   left: 45px;
   top: 230px;
}

.Left.Wrist {
   left: 204px;
   top: 247px;
}

.Right.Wrist {
   left: 40px;
   top: 247px;
}

.Left.Fingers {
   left: 213px;
   top: 285px;
}

.Right.Fingers {
   left: 32px;
   top: 285px;
}

.Left.Palm {
   left: 208px;
   top: 266px;
}

.Right.Palm {
   left: 36px;
   top: 265px;
}

.Left.Shoulder {
   left: 165px;
   top: 110px;
}

.Right.Shoulder {
   left: 79px;
   top: 110px;
}

.Chest {
   left: 121px;
   top: 120px;
}

.Stomach {
   left: 119px;
   top: 196px;
}

.Left.Thigh {
   left: 147px;
   top: 325px;
}

.Right.Thigh {
   left: 94px;
   top: 325px;
}

.Left.Knee {
   left: 150px;
   top: 386px;
}

.Right.Knee {
   left: 96px;
   top: 385px;
}

.Left.Foot {
   left: 141px;
   top: 488px;
}

.Right.Foot {
   left: 104px;
   top: 488px;
}

.Left.Leg {
   left: 148px;
   top: 345px;
}

.Right.Leg {
   left: 95px;
   top: 345px;
}

.Left.Ankle {
   left: 142px;
   top: 479px;
}

.Right.Ankle {
   left: 102px;
   top: 479px;
}

/* Back parts */

.Back {
   left: 173px;
   top: 165px;
}

.Buttock {
   left: 197px;
   top: 271px;
}

.Hair {
   left: 171px;
   top: 14px;
}

.Left.Calf {
   left: 142px;
   top: 417px;
}

.Left.Elbow {
   left: 107px;
   top: 200px;
}

.Left.Forearm {
   left: 100px;
   top: 225px;
}

.Left.Heel {
   left: 154px;
   top: 498px;
}

.Left.Hip {
   left: 137px;
   top: 243px;
}

.Left.Shoulder.Blade {
   left: 146px;
   top: 121px;
}

.Loin {
   left: 173px;
   top: 257px;
}

.Nape {
   left: 172px;
   top: 70px;
}

.Right.Calf {
   left: 199px;
   top: 417px;
}

.Right.Elbow {
   left: 237px;
   top: 200px;
}

.Right.Forearm {
   left: 247px;
   top: 235px;
}

.Right.Heel {
   left: 191px;
   top: 495px;
}

.Right.Hip {
   left: 207px;
   top: 243px;
}

.Right.Shoulder.Blade {
   left: 204px;
   top: 121px;
}

.Waist {
   left: 173px;
   top: 230px;
}

.move-buttons {
   padding-top: 50px;
   padding-bottom: 50px;
}

a {
   cursor: pointer;
}

.btn-secondary {
   color: #fff;
   background-color: #868e96;
   border-color: #868e96;
}

.pac-container {
   z-index: 99999999;
   max-width: 400px;
}

#pac-input {
   max-width: 400px;
   margin-top: 8px;
}

.doc-actions span {
   padding: 5px;
   font-size: 15px;
}

.stat-icon {
   padding: 10px;
   font-size: 20px;
}

.table {
   background-color: #fff;
}

.card {
   background-color: #2e2e2e;
   color: white;
}

.summary-text {
   padding-left: 5px;
   padding-right: 5px;
   text-overflow: ellipsis;
   word-break: break-all;
   vertical-align: middle;
   font-weight: normal;
}

.accident .dropdown-menu {
   overflow-y: auto;
   height: 320px;
   width: 100%;
}

.asset .dropdown-menu {
   overflow-y: auto;
   height: 250px;
   width: 100%;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary,
.btn-secondary,
.btn-info,
.btn-danger,
.btn-success {
   background-color: #9ca3a9 !important;
   border: none;
}

.btn:active {
   color: #fff;
}

.btn:focus {
   box-shadow: 0 0 0 0.2rem rgba(90, 115, 143, 0.5) !important;
}

.zero-padding {
   padding: 0px !important;
}

.zero-margin {
   margin: 0px !important;
}

.btn-outline-success {
   border: 1px solid lightgreen;
}

table {
   margin-right: 5px !important;
}
.modal-body {
   max-height: 400px !important;
   overflow-y: auto;
}


@media (min-width: 992px) {
   .modal-lg {
       max-width: 1200px;
   }
}

.forgot{
   color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a.forgot:hover{
   color: #0056b3;
   text-decoration: none;
}